*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(106, 191, 228);
    overflow: hidden;
}

.gamecontent{
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}
.ground{
    z-index: 1;
    background-image: url(Images/ground.png);
    width: 10000000000vw;
    height: 22.1vh;
    position: absolute;
    bottom: 0vh;
}
.cloud{
    background-image: url(Images/clouds.png);
    width: 10000000000vw;
    height: 27vh;
    position: absolute;
    bottom: 60vh;
}
.mountain{
    background-image: url(Images/mountains.png);
    width: 10000000000vw;
    height: 22.1vh;
    position: absolute;
    bottom: 20.4vh;
}

.mario{
    background-image: url(Images/mario.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 5.6vw;
    height: 6.6vw;
    position: absolute;
    bottom: 22vh;
    left: 15vh;
}

.obstacle{
    background-image: url(Images/enemy1.png);
    width: 5.6vw;
    height: 5.1vw;
    background-size: cover;
    position: absolute;
    bottom: 21.2vh;
    right: 15vh;
}

.cloudani{
    animation: cloudani 15s linear infinite;
}

#dashB{
    z-index: 1;
    background-image: url(Images/ground.png);
    width: 49vw;
    height: 65vh;
    position: absolute;
    bottom: 22.2vh;
    left: 25.15%;
    border-radius: 5% 5% 0 0;
}

.dashin{
    background-color: #726868;
    position: absolute;
    width: 92%;
    height: 92%;
    left: 4%;
    top: 4%;
    box-shadow: inset 0 0 25px rgb(0, 0, 0);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 5vh;
    color: #332121;
    text-shadow: 3px 3px 0 #000000;
}

input{
    font-family: 'Press Start 2P', cursive;
    width: 30vw;
    height: 7vh;
    text-align: center;
    font-size: 100%;
    border-radius: 10%;
    opacity: 0.6;
    margin-top: 1vh;
}

.formAction{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

button{
    background-color: #332121;
    color: white;
    font-family: 'Press Start 2P', cursive;
    width: 10vw;
    height: 5vh;
    text-align: center;
    font-size: 100%;
    border-radius: 15%;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 1vh;
}

button:hover {
    transform: scale(1.02);
}

a{
    font-family: 'Press Start 2P', cursive;
    font-size: 70%;
    color: #332121;
    text-decoration: none;
    margin-right: 1vw;
}

a:hover {
    text-decoration: underline;
}

@keyframes cloudani{
    0%{
        left: 0vw;
    }
    100%{
        left: -100vw;
    }
}

@media screen and (max-width: 480px)  {
    
}